In [3]:
import pandas as pd
dataset = pd.read_csv('GroundTruth.csv')
dataset

              image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0      ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1      ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2      ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3      ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4      ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
...             ...  ...  ...  ...    ...  ...  ...   ...
10010  ISIC_0034316  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10011  ISIC_0034317  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10012  ISIC_0034318  0.0  0.0  0.0    0.0  1.0  0.0   0.0
10013  ISIC_0034319  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10014  ISIC_0034320  0.0  1.0  0.0    0.0  0.0  0.0   0.0

[10015 rows x 8 columns]

In [4]:
if (dataset == 1.0).sum(axis=1).max() == 1:
    print("Every row has exactly one value of 1.0.")
else:
    print("Not every row has exactly one value of 1.0.")

Every row has exactly one value of 1.0.

In [5]:
num_classes = dataset[['MEL', 'NV', 'BCC', 'AKIEC', 'BKL', 'DF', 'VASC']].sum(axis=0).astype(int)
percentage = []
for x in num_classes:
    percentage.append(round(x/dataset.shape[0] * 100,2))
percentage

[11.11, 66.95, 5.13, 3.27, 10.97, 1.15, 1.42]

In [14]:
dataset = pd.read_csv('img/archive/binaryProblem.csv')
dataset

              image  healthy
0      ISIC_0024306        1
1      ISIC_0024307        1
2      ISIC_0024308        1
3      ISIC_0024309        1
4      ISIC_0024310        0
...             ...      ...
10010  ISIC_0034316        0
10011  ISIC_0034317        0
10012  ISIC_0034318        1
10013  ISIC_0034319        1
10014  ISIC_0034320        1

[10015 rows x 2 columns]

In [15]:
num_classes = dataset[['sick']].sum(axis=0).astype(int)
percentage = []
for x in num_classes:
    percentage.append(round(x/dataset.shape[0] * 100, 2))
x = ["Healthy:", percentage[0], "Sick:", round(100 - percentage[0], 2)]
x

['Healthy:', 80.49, 'Sick:', 19.51]

In [1]:
import numpy as np

dataset = np.load('npy_datasets/hog_dataset.npy')
dataset

array([[0.22742464, 0.1135559 , 0.08097914, ..., 0.21766247, 0.35022482,
        0.        ],
       [0.09882131, 0.09371873, 0.06356283, ..., 0.12647626, 0.16672614,
        0.        ],
       [0.21147077, 0.14168639, 0.15050396, ..., 0.1076802 , 0.18850997,
        0.        ],
       ...,
       [0.18533738, 0.20902413, 0.18440738, ..., 0.14915431, 0.27986878,
        0.        ],
       [0.30562487, 0.29404008, 0.19182017, ..., 0.07435998, 0.30431637,
        0.        ],
       [0.16391972, 0.11940118, 0.09945388, ..., 0.05499319, 0.33327705,
        0.        ]])

In [3]:
dataset = np.load('npy_datasets/image_dataset.npy')
dataset.shape

(10015, 25089)